<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <title>Vélo Epicurien</title>
    </head>
    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <!-- Instruction -->
            <div class="w3-display-middle">
                <h1 class="w3-jumbo w3-animate-top w3-center">Vélo Epicurien</h1>
                <hr class="w3-border-grey" style="margin:auto;width:40%">
            <div>
            
            <br>
            <!-- display -->
            <div>
                <h2>Requête - Nombre de restaurant</h2>
                <form action="/nb_restaurant" method="GET">
                    <input class="myButton" type="submit" value="Envoyer" />
                </form>
                
                <p>{{ nb_restaurant }} restaurants</p>

                <h2>Requête - Longueur de la distance totale de piste cyclable</h2>
                <form action="/distance_totale" method="GET">
                    <input class="myButton" type="submit" value="Envoyer" />
                </form>

                <p>{{ distance_totale }} mètres</p>
            </div>
        </div>
    </body>
</html>